---
import { config } from "@/config";
import { SOCIAL_LINKS } from "@/data/links";
import type { ArticleMetadata } from "@/utils";

type Props = {
  title: string;
  description: string | undefined;
  article: ArticleMetadata | undefined;
};

const { title, description, article } = Astro.props;

const titleContent = `${title} • ${config.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  article?.image ? article.image.src : "/android-chrome-512x512.png",
  Astro.url
).href;
const socialImageAlt = article?.image
  ? article.image.alt
  : "Logo for João Capucho's website";
const language = article ? article.language : config.locale;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>

<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FCB001" />
<meta name="msapplication-TileColor" content="#da532c" />

<link rel="canonical" href={canonicalURL} />
<!-- RSS auto-discovery -->
<link
  rel="alternate"
  type="application/rss+xml"
  title={`RSS Feed for ${config.author}'s blog`}
  href="/rss.xml"
/>

<!-- Primary Meta Tags -->
<title>{titleContent}</title>
<meta name="title" content={titleContent} />
{description && <meta name="description" content={description} />}
<meta name="author" content={config.author} />
<meta name="generator" content={Astro.generator} />
<meta name="referrer" content="no-referrer" />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Theme Colour -->
<meta
  name="theme-color"
  content={config.lightThemeColor}
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content={config.darkThemeColor}
  media="(prefers-color-scheme: dark)"
/>
<meta name="color-scheme" content="dark light" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={article ? "article" : "website"} />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={config.title} />
<meta property="og:locale" content={language.replace("-", "_")} />
<meta property="og:image" content={socialImageURL} />
<!-- Are these needed? -->
<!-- <meta property="og:image:width" content="1200" /> -->
<!-- <meta property="og:image:height" content="630" /> -->
<meta property="og:image:alt" content={socialImageAlt} />
{
  article && (
    <>
      <meta property="article:author" content={config.author} />
      <meta
        property="article:published_time"
        content={article.publishDate.toISOString()}
      />
      <meta
        property="article:modified_time"
        content={
          article.lastEditDate
            ? article.lastEditDate.toISOString()
            : article.publishDate.toISOString()
        }
      />
      {article.tags.map((tag) => (
        <meta property="article:tag" content={tag} />
      ))}
    </>
  )
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
{description && <meta property="twitter:description" content={description} />}
<meta property="twitter:image" content={socialImageURL} />
<meta property="twitter:image:alt" content={socialImageAlt} />

<!-- Mastodon -->
{SOCIAL_LINKS.mastodon && <link href={SOCIAL_LINKS.mastodon} rel="me" />}
