---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./Layout.astro";
import Link from "@/components/Link.astro";
import PostHeader from "@/components/blog/Header.astro";
import PostImage from "@/components/blog/Image.astro";
import DraftWarning from "@/components/blog/DraftWarning.astro";

export interface Props {
  frontmatter: CollectionEntry<"blog">["data"];
  pluginFrontmatter: { minutesRead: string };
}

const { title, description, draft, publishDate, lastEditDate, tags, image } =
  Astro.props.frontmatter;
const { minutesRead } = Astro.props.pluginFrontmatter;
---

<BaseLayout
  title={title}
  description={description}
  article={Astro.props.frontmatter}
>
  <p class="pb-4">
    <Link href="/blog">&lt;- Return to all posts</Link>
  </p>
  <PostHeader
    title={title}
    minutesRead={minutesRead}
    publishDate={publishDate}
    lastEditDate={lastEditDate}
    tags={tags}
  />
  {image && <PostImage image={image} />}
  <hr class="my-2 border-dashed border-textColor" />
  {draft && <DraftWarning />}
  <article class="article-prose">
    <slot />
  </article>
</BaseLayout>
